<!-- About Section -->
<div id="about" >
    <div class="container">
      <div class="section-title text-center center">
        <h2>{{ page.aboutTitle}}</h2>
        <hr>
      </div>
      <div class="row">
        <div class="col-xs-12 col-md-6 image paroller" style="background: url('{{ page.aboutImage }}') center -27px / contain no-repeat; min-height: 600px;"> <!--img src="{{ page.aboutImage }}" class="img-responsive" alt=""--> 
        <!-- <div class="image paroller" style="background: url('{{ page.aboutImage }}') center 0px / contain no-repeat; min-height: 600px;"></div> -->
        </div>
        <div class="col-xs-12 col-md-6">
          <div class="about-text">
            <p> {{ page.aboutContent }}</p>
            <a href="#portfolio" class="btn btn-default btn-lg page-scroll">{{page.aboutButton}}</a> </div>
        </div>
      </div>
    </div>
  </div>