<div id="footer">
    <div class="container text-center">
      <div class="fnav">
        <p>Copyright &copy; 2021 NM-White. Designed by <a href="https://nm-white.com/" rel="nofollow">NM White | Photography | Web Design</a>.</p>
      </div>
    </div>
  </div>
  <script type="text/javascript" src="{{site.baseurl}}assets/js/jquery.1.11.1.js"></script> 
  <script type="text/javascript" src="{{site.baseurl}}assets/js/bootstrap.js"></script> 
  <script type="text/javascript" src="{{site.baseurl}}assets/js/SmoothScroll.js"></script> 
  <script type="text/javascript" src="{{site.baseurl}}assets/js/nivo-lightbox.js"></script> 
  <script type="text/javascript" src="{{site.baseurl}}assets/js/jquery.isotope.js"></script> 
  <script type="text/javascript" src="{{site.baseurl}}assets/js/jqBootstrapValidation.js"></script> 
  <script type="text/javascript" src="{{site.baseurl}}assets/js/main.js"></script>
  <script type="text/javascript" src="{{site.baseurl}}assets/js/parallax.min.js"></script>
  <script type="text/javascript" src="{{site.baseurl}}assets/js/wow.min.js"></script>
  <script>
   $(document).ready(function() {
    $('.parallax-window').parallax({
    naturalWidth: 600,
    naturalHeight: 400
    });
});
  </script>
  <script>
    new WOW().init();
  </script>
  </body>
  </html>