<!-- Header -->
<header id="header">
    <div class="intro parallax-window" data-parallax="scroll" data-image-src="/assets/img/portfolio/Landscape/IMG_2042-1.jpg" data-position="top" data-bleed="10"data-natural-width="1400" data-natural-height="900">
      <div class="container">
        <div class="row">
          <div class="intro-text ">
            <h1 class="wow bounceInUp">{{ page.heroTitle }}</h1>
            <p class="wow bounceInUp" data-wow-duration="2s">{{ page.heroSubTitle }}</p>
            <a href="#about" class="btn btn-custom btn-lg page-scroll">{{ page.heroCta}}</a> </div>
        </div>
      </div>
    </div>
  </header>